html, body {
    font-family: Arial, sans-serif;
    color-scheme: dark;
    background-color: #131e24;
    border-color: #736b5e;
    color: #e8e6e3;
}

.container {
    width: 80%;
    margin: auto;
}
.note-list {
    margin-top: 20px;
}
.note {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.login-container {
    width: 20em;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], button {
    min-width: 8em;
    background-color: #425093;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: rgb(35, 61, 122);
}

.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.note-content {
    min-height: 1em;
    resize: none;
    overflow-y: hidden;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.buttons-container form {
    display: inline; /* Makes the form display inline */
}

.buttons-container button {
    margin-right: 10px; /* Adds space between the buttons */
}

.red {
    background-color: #a15145;
}

.red:hover {
    background-color: #803f35;
}