{% extends 'notes/base.html' %}

{% block title %}BuggyNotes{% endblock %}

{% block content %}
    <h1>Notes</h1>

    <div class="buttons-container">
        <!-- New Note Button -->
        <form action="{% url 'create_note' 0 %}" method="post">
            {% csrf_token %}
            <button type="submit">New Note</button>
        </form>

        <!-- New Drawn Note Button -->
        <form action="{% url 'create_note' 1 %}" method="post">
            {% csrf_token %}
            <button type="submit">New Drawn Note</button>
        </form>

        <!-- Backup Notes Button -->
        <form action="{% url 'backup_notes' %}" method="post">
            {% csrf_token %}
            <button type="submit">Create Backup</button>
        </form>

        <!-- Load Backup Button and File Input -->
        <form id="loadBackupForm" action="{% url 'load_backup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="backupFileInput" name="backup_file" style="display: none;" onchange="document.getElementById('loadBackupForm').submit();" required>
            <button type="button" onclick="document.getElementById('backupFileInput').click();">Load Backup</button>
        </form>

        <!-- Search Form -->
        <form action="{% url 'index' %}" method="post" style="display: flex; align-items: center;">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search notes..." value="{{ request.POST.search|default_if_none:'' }}" style="margin-right: 10px;">
            <button type="submit" style="margin-right: 10px;">Search</button>
        </form>

          <!-- Logout Button -->
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="red" type="submit">Logout</button>
        </form>
    </div>

    <!-- List all notes -->
    <div class="note-list">
        {% for note in notes %}
            <div class="note">
                <h2>{{ note.title }}</h2>
                {% if note.is_drawn == 1 %}
                <!-- The safe filter is used here to allow the user created SVG to render. The SVG has to be sanitized in the code to prevent XSS. -->
                <p>{{ note.content|safe }}</p>
                {% else %}
                <!-- The 'safe' filter used here makes Django not escape the user inputted string, causing a cross site scripting (XSS) vulnerability -->
                <p>{{ note.content|safe|linebreaks }}</p>
                {% endif %}
                <!-- <p>{{ note.content|linebreaks }}</p> -->
                <p><a href="{% url 'view_note' note.id note.is_drawn %}">View Note</a></p>
            </div>
        {% empty %}
            <p>No notes available.</p>
        {% endfor %}
    </div>
{% endblock %}