<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>BuggyNotes</h1>

<div class="container">
    <h1>Notes</h1>

    <!-- Logout Button -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <!-- List all notes -->
    <div class="note-list">
        {% for note in notes %}
            <div class="note">
                <h2>{{ note.title }}</h2>
                <p>{{ note.content|linebreaks }}</p>
                <p><a href={% url 'view_note' note.id %}>View Note</a></p>
            </div>
        {% empty %}
            <p>No notes available.</p>
        {% endfor %}
    </div>
</div>

</body>
</html>
