{% extends 'notes/base.html' %}

{% block title %}BuggyNotes{% endblock %}

{% block content %}
    <h1>Notes</h1>

    <div class="buttons-container">
        <!-- New Note Button -->
        <form action="{% url 'create_note' %}" method="post">
            {% csrf_token %}
            <button type="submit">New Note</button>
        </form>

        <!-- New Drawn Note Button -->
        <form action="{% url 'create_drawn_note' %}" method="post">
            {% csrf_token %}
            <button type="submit">New Drawn Note</button>
        </form>

        <!-- Backup Notes Button -->
        <form action="{% url 'backup_notes' %}" method="post">
            {% csrf_token %}
            <button type="submit">Create Backup</button>
        </form>

        <!-- Load Backup Button and File Input -->
        <form id="loadBackupForm" action="{% url 'load_backup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="backupFileInput" name="backup_file" style="display: none;" onchange="document.getElementById('loadBackupForm').submit();" required>
            <button type="button" onclick="document.getElementById('backupFileInput').click();">Load Backup</button>
        </form>

        <!-- Logout Button -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="red" type="submit">Logout</button>
        </form>
    </div>

    <!-- List all notes -->
    <div class="note-list">
        {% for note in notes %}
            <div class="note">
                <h2>{{ note.title }}</h2>
                <!-- The 'safe' filter used here makes Django not escape the user inputted string, causing a cross site scripting (XSS) vulnerability -->
                <p>{{ note.content|safe|linebreaks }}</p>
                <!-- <p>{{ note.content|linebreaks }}</p> -->
                {% if not note.is_drawn %}
                <p><a href={% url 'view_note' note.id %}>View Note</a></p>
                {% endif %}
                {% if note.is_drawn %}
                <p><a href={% url 'view_drawn_note' note.id %}>View Drawn Note</a></p>
                {% endif %}
                
            </div>
        {% empty %}
            <p>No notes available.</p>
        {% endfor %}
    </div>
{% endblock %}